<div class="row">
  <div class="col-md-4">
    <%= image_tag @book.book_img.url(:book_show), class: "bookshow" %>
  </div>
  <div class="col-md-8">
    <h2><%= @book.title %></h2>
    <h3><%= @book.author %></h3>
    <h5><%= @book.description %></h5>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <!--Where the reviews will go -->
  </div>
</div>

<% if user_signed_in? %>
  <% if @book.user == current_user %>
    <%= link_to "Edt Info", edit_book_path(@book) %>
    <%= link_to "Delete", book_path(@book), method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
<% end %>
<%= link_to "Back", root_path %>
