<div class="row">
  <div class="col-md-4">
    <%= image_tag @book.book_img.url(:book_show), class: "bookshow" %>
    <div style="margin-left:5px;">
      <% if user_signed_in? %>
        <div class="btn-group">
      <% if @book.user == current_user %>
          <%= link_to "Edit", edit_book_path(@book), class:"btn btn-default" %>
          <%= link_to "Delete", book_path(@book), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-default" %>
      <% end %>
      <% end %>
          <%= link_to "Back", root_path, class:"btn btn-default" %>
        </div>
    </div>
  </div>
  <div class="col-md-8">
    <h1><%= @book.title %></h1>
    <h3>By <%= @book.author %></h3>
    <div>
      <div style="float:left;" class="average-review-rating" data-score=<%= @average_review%>> by <%= @book.reviews.size %> reviews: </div>
      <div style="float:left; margin-left:50px;">
        <%= link_to "Add Review", new_book_review_path(@book) %>
      </div>
    </div>
    <div style="clear:both;"></div>
    <h4><%= simple_format(@book.description) %></h4>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-8">
    <%= render @book.reviews %>
  </div>
</div>

<script>
  $('.review-rating').raty({
    cancel: true,
    readOnly:true,
    size:24,
    score:function(){
      return $(this).attr('data-score');
    },
    path: '/assets/'
  })
</script>

<script>
  $('.average-review-rating').raty({
    cancel: true,
    readOnly:true,
    size:24,
    path: '/assets/',
    score: function(){
      return $(this).attr('data-score');
    }
  });
</script>
