<h2><%= @book.title %></h2>
<h3><%= @book.author %></h3>
<h5><%= @book.description %></h5>

<%= link_to "Edt Info", edit_book_path(@book) %>
<%= link_to "Delete", book_path(@book), method: :delete, data: {confirm: "Are you sure?"} %>
<%= link_to "Back", root_path %>
